<h3><b>Importing Packages</b></h3>

In [1]:
import numpy as np
import pandas as pd

<h3><b>Reading the File using Pandas</b></h3>

In [2]:
df = pd.read_csv("D:/BITS/PFA/Dataset Assignment/athletes.csv")

In [3]:
df.describe()

               code        height        weight
count  1.111300e+04  11110.000000  11108.000000
mean   1.887418e+06     81.798830      2.211919
std    3.588006e+05     89.508247     13.109608
min    1.532872e+06      0.000000      0.000000
25%    1.888184e+06      0.000000      0.000000
50%    1.918840e+06      0.000000      0.000000
75%    1.948950e+06    177.000000      0.000000
max    9.460001e+06    222.000000    113.000000

<h3><b>Finding the Countries with most athletes</b></h3>

In [4]:
df.groupby('country').size().sort_values(ascending=False).head(10)

country
United States    619
France           601
Australia        475
Germany          457
Japan            431
Spain            401
China            398
Italy            397
Great Britain    343
Canada           332
dtype: int64

The <i><b>value_counts</b></i> method counts the number of unique rows in a DataFrame while the <b><i>size</b></i> function works within a group returning the size of a group.

In [5]:
df.groupby('country')['country'].value_counts().sort_values(ascending=False)

country        country
United States  United States    619
France         France           601
Australia      Australia        475
Germany        Germany          457
Japan          Japan            431
                               ...
Tuvalu         Tuvalu             2
Nauru          Nauru              1
Belize         Belize             1
Somalia        Somalia            1
Liechtenstein  Liechtenstein      1
Name: country, Length: 206, dtype: int64