In [1]:
import pandas as pd
import numpy as np

<h3><b>WTF DOES STRIP DO?</h3></b>
1. Remove all the trailing, leading whitespaces and return back a <b><i>string</b></i>
<

In [2]:
data = {'names': ['  Alice  ', '  Bob', 'Charlie  ','Aditya'], 
        'languages': ['English, Spanish', 'French', 'German, Italian','English,Italian, German']}
df = pd.DataFrame(data)

In [3]:
df

       names                languages
0    Alice           English, Spanish
1        Bob                   French
2  Charlie            German, Italian
3     Aditya  English,Italian, German

In [4]:
df['names'].str.strip()

0      Alice
1        Bob
2    Charlie
3     Aditya
Name: names, dtype: object

In [5]:
df['languages'].str.strip()

0           English, Spanish
1                     French
2            German, Italian
3    English,Italian, German
Name: languages, dtype: object

<h3><b>What does Split do?</h3></b>
Splits the string into different elements of a list

In [6]:
df['names'].str.strip().str.split(',')

0      [Alice]
1        [Bob]
2    [Charlie]
3     [Aditya]
Name: names, dtype: object

In [7]:
df['languages'].str.strip().str.split(',')

0            [English,  Spanish]
1                       [French]
2             [German,  Italian]
3    [English, Italian,  German]
Name: languages, dtype: object

We see that the data is not yet clean

<h3><b> WTF Does explode do? </h3></b>
Creates each element of the list as a new row of a dataframe

In [8]:
df['languages'].str.strip().str.split(',').explode().value_counts()

English     2
 Spanish    1
French      1
German      1
 Italian    1
Italian     1
 German     1
Name: languages, dtype: int64

<h4><b>Now, we need to clean each row </h4></b>

In [9]:
df['languages'].str.strip().str.split(',').explode().str.strip().value_counts()

English    2
German     2
Italian    2
Spanish    1
French     1
Name: languages, dtype: int64

In [17]:
df['languages'].str.split(',').apply(len)

0    2
1    1
2    2
3    3
Name: languages, dtype: int64